/*
    Document   : stylesheets/style.css
    Created on : 2015-02-18 08:38 PM
    Author     : siddeekazeez
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}