body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 2em;
  text-shadow: 0 0 10px #000;
  color: #fff;
  background: #888;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section{
  min-height: 100%;
}

h1{
  font-size: 50pt;
  padding: 0 0.3em;
  line-height: 1em;
}

h2{
  font-size:14pt;
  padding: 0 0.3em;
  line-height: 1em; 
}

p{
  padding: 0 1em;
}

a{
  color: #fff;
}

footer{
  position: absolute;
  bottom: 0;
  font-size: 0.5em;
}

#logout{
  font-size: 10pt; 
}

#user{
  padding: 0;
  font-size: 16pt;
}

.logout {
  margin-top: -35px; 
  padding: 0;
  text-align: right;
}

.right {
  float:right;
  margin-right:20px;
}

#Temp{
  text-decoration: none;
  border-bottom: 0.05em dotted white;
}

.datetime{
  font-size: 40pt;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-bottom: 0.05em dotted white;
}

.dt {
 width:100%; 
 text-align: center;
}

textarea {
  resize: none;   
}

table {
  background-color:rgba(0,0,0,0.4);
  margin-left:10px;
  margin-bottom:40px;
}

.tb-text {
  font-size: 11pt;
  text-align: right;
}

#tb-head {
  font-size:14pt;
  font-weight: bold;
  text-align: center;
}

.button {
  margin-bottom:10px;
  margin-top:10px;   
}