<!--
To change this template use Tools | Templates.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>The Weather App</title>
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </head>
    <body>
        <section>
            <div class="dt">
                <p><a class="datetime" href="{{timelink}}" title="Click to switch between 12 hour and 24 hour times.">{{time}}</a></p>
                <p><a class="datetime" href="{{datelink}}" title="Click to switch between full date and short date.">{{date}}</a></p>
            </div>
            <div class="right">
                <p id="user">Welcome, {{user}}</p>
                <div class="logout">
                    <a id="logout" href="{{ user_logout|safe }}">{{url_logout_text}}</a>
                </div>
            </div>
            <h1 id="City">Weather Web App</h1>
            <p><a id="Temp" href="#" onclick="UnitSwitch(); return false;" title="Click to switch between celsius and fahrenheit."></a><span id="Weather">Temperature</span></p>
            <br/>
        </section>
        <footer>
            <form action ="." method="post">
                <table>
                    <tr>
                        <td colspan="2">
                            <p id="tb-head">Leave a Comment</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="tb-text">Comment</p>
                        </td>
                        <td>
                            <textarea id="comment" name="content" rows="5" cols="32" style="margin-right:10px;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:center;">
                            <input type="submit" value="Submit Comment" class="button">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                        <p><center>{{emailmsg}}</center></p>
                        </td>
                    </tr>
                </table>
            </form>
        </footer>
        <script>
            var WeatherInfo = {
                city: document.querySelector("#City"),
                weather: document.querySelector("#Weather"),
                temperature: document.querySelector("#Temp"),
                TempValue: 0,
                Units: "°C"
            };
            
            function RoundTemp(Temp){
			    Temp = +Temp.toFixed(2);
			    return Temp;
		    }
            
            function UnitSwitch(){
                if (WeatherInfo.Units == "°C"){
                    WeatherInfo.TempValue = RoundTemp(WeatherInfo.TempValue * 9/5 + 32);
                    WeatherInfo.Units = "°F";
                }
                else{
                    WeatherInfo.TempValue = RoundTemp((WeatherInfo.TempValue -  32) * 5/9);
                    WeatherInfo.Units = "°C";
                }
                
                WeatherInfo.temperature.innerHTML = WeatherInfo.TempValue + WeatherInfo.Units;      
            }
                
            function getWeatherLocation(){
                if (window.XMLHttpRequest){
                    var xhr = new XMLHttpRequest();
                    
                    xhr.addEventListener("load", function() {}, false);
                    xhr.addEventListener("error", function(){}, false);
                    
                    xhr.open("GET", "<URL>", true);
                    xhr.send();
                }
                else{
                    alert("Weather not available at the moment. Please try again later.");
                }     
            }
  
            function getWeatherLocation(){
                if (window.XMLHttpRequest){
                    var xhr = new XMLHttpRequest();
                    xhr.addEventListener("load", function() {
                        var response = JSON.parse(xhr.responseText);

                        console.log(response);
                        var position = {
                            latitude: response.latitude,
                            longitude: response.longitude
                        };
                        var City = response.city;

                        var SimpleDesc = response.weather.simple;
                        var Desc = response.weather.description;
                        var Temp = RoundTemp(response.weather.temperature);

                        WeatherInfo.TempValue = Temp;

                        BackgroundImage(position.latitude, position.longitude, SimpleDesc);
                        WeatherInfo.city.innerHTML = City;
                        WeatherInfo.weather.innerHTML =  ", " + Desc;
                        WeatherInfo.temperature.innerHTML = Temp + WeatherInfo.Units;
                    }, false);

                    xhr.addEventListener("error", function(err){
                        alert("Could not complete the request. Please check internet connection");
                    }, false);

                    xhr.open("GET", "https://fourtonfish.com/tutorials/weather-web-app/getlocationandweather.php?owapikey=36cf733879234f18f99a08c8d9447510&units=metric", true);
                    xhr.send();
                }
                else{
                    alert("Weather not available at the moment. Please try again later.");
                }           
            }
            
            function BackgroundImage(Lat, Lon, Tag) {
                var script_element = document.createElement('script');

                script_element.src = "https://api.flickr.com/services/rest/?method=flickr.photos.search&api_key=930941d12d48f6faad0fa5e1ffdb74e9&lat=" + Lat + "&lon=" + Lon + "&accuracy=1&tags=" + Tag + "&sort=relevance&extras=url_l&format=json";

                document.getElementsByTagName('head')[0].appendChild(script_element);
            }
            
            function jsonFlickrApi(data){
                if (data.photos.pages > 0){
                    var photo = data.photos.photo[0];                                  
                    document.querySelector("body").style.backgroundImage = "url('" + photo.url_l + "')";
                }
                else{
                    document.querySelector("body").style.backgroundImage = "url('http://hdw.datawallpaper.com/nature/weather-in-australia-327509.jpg')";
                }
            }
            
            getWeatherLocation();
            
            var time = new Date().getTime();
            $(document.body).bind("mousemove keypress", function(e) {
                time = new Date().getTime();
            });

            function goBack() {
                window.history.back()
            }
            
            function refresh() {
                if(new Date().getTime() - time >= 20000) 
                    goBack();
                else 
                    setTimeout(refresh, 10000);
            }

            setTimeout(refresh, 10000);
        
        
        </script>
    </body>
</html>